- bclass 'interior-pg'
%section.video-index{:style => "padding-bottom: 0px;"}
  .container-fluid
    .row
      .col-sm-10.col-sm-offset-1
        %h2.title Contact Info
        %p
          For Billing, please contact
          %a{:href => "http://epoch.com", :target => "_blank"} www.epoch.com
        %p
          All other issues please email
          %a{:href => "mailto:veronica@veronicarodriguez.com"} veronica@veronicarodriguez.com
    .row
