- bclass 'interior-pg'
%section.margin-top-twenty
  .container-fluid
    .row
      .col-sm-12
        %h2.title.uppercase Explore all of our models
      .col-sm-3
        .view.view-first
          = image_tag "Abby-Cross-Profile.jpg"
          .mask
            %h2 Amber Cross
            %a.info.text-uppercase{:href => "#"} View More

