%section.video-index
  .container-fluid
    .row
      .col-sm-7.col-sm-offset-1
        %h2.title.uppercase.tli.fw-500 Live Shows
    .row
      .col-sm-7.col-sm-offset-1
        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "640px", :scrolling => "no", :src => "http://www.ustream.tv/embed/21547069?html5ui", :style => "border: 0 none transparent;", :webkitallowfullscreen => "", :width => "480px"}