- @videopics.each do |img|
  .col-sm-3
    .vid-pics.vid-pics-fix
      .lightbox.hide.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
        .lightbox-content
          = image_tag("#{img.image_url}")
