%section.policy-index.margin-top-twenty{:style => "padding-bottom: 0px;"}
  .container-fluid
    = render "admin/panel/admin_panel"
    .row
      .col-sm-4.col-sm-offset-4
        %h2.title Product
        %hr
    .row
      = form_for [:admin, @product] do |f|
        = f.text_field :title
:javascript
  $(document).ready(function(){
    $('input[type=file]').bootstrapFileInput();
  });


