- @videopics.each do |img|
  - if img.image_url.present?
    .col-sm-3
      .vid-pics.vid-pics-fix{:style => "background-image: url('#{img.image_url}')"}
      %a{:href => "#"}
      = link_to 'Remove Picture', admin_video_picture_path(@video, img), class: 'deletePicture', method: :delete
