%section.video-index
  .container-fluid
    .row
      .col-sm-12
        %h2
          Thank you so much for your purchase, your personal item will be arriving as quickly as possible to your door!
        %h3
          = link_to "Back to products",products_path