.row
  .col-sm-2.col-sm-offset-2
    = form_tag('/live_shows/tip', :remote => true) do
      %input{:type => "hidden", :name => 'user_id', :value => current_user.id}
      %input{:type => "hidden", :name => 'amount', :value => 5}
      .actions
        %button.white Tip 5
  .col-sm-2
    = form_tag('/live_shows/tip', :remote => true) do
      %input{:type => "hidden", :name => 'user_id', :value => current_user.id}
      %input{:type => "hidden", :name => 'amount', :value => 10}
      .actions
        %button.white Tip 10
  .col-sm-2
    = form_tag('/live_shows/tip', :remote => true) do
      %input{:type => "hidden", :name => 'user_id', :value => current_user.id}
      %input{:type => "hidden", :name => 'amount', :value => 25}
      .actions
        %button.white Tip 25
  .col-sm-2
    = form_tag('/live_shows/tip', :remote => true) do
      %input{:type => "hidden", :name => 'user_id', :value => current_user.id}
      %input{:type => "hidden", :name => 'amount', :value => 70}
      .actions
        %button.white Tip 70

